In [1]:
import sys
sys.path.append('../')
from dinosaur.DataPreprocessor import DataPreprocessor
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [2]:
data = pd.DataFrame({
            'value': [1, 2, np.nan, 4, 5],
            'category': ['cat', 'dog', 'cat', 'dog', 'cat'],
            'level': ['low', 'medium', 'high', 'medium', 'low']
        })

In [3]:
data.head()

   value category   level
0    1.0      cat     low
1    2.0      dog  medium
2    NaN      cat    high
3    4.0      dog  medium
4    5.0      cat     low

In [4]:
ordinal_categories = [['low', 'medium', 'high']]
nominal_categories = [['cat', 'dog']]

        # Encoders
levels = {
    'category': 'nominal',
    'level': 'ordinal',
    'value': 'numeric'
}

In [5]:
dp = DataPreprocessor(data= data, missing_data = 'fill',levels=levels)

In [6]:
dp.process_data()

In [7]:
data = dp.processed_data

In [8]:
data

     0    1    2    3
0  1.0  1.0  0.0  1.0
1  2.0  0.0  1.0  2.0
2  3.0  1.0  0.0  0.0
3  4.0  0.0  1.0  2.0
4  5.0  1.0  0.0  1.0